// @mixin loginSizing($width, $height, $marginLR, $marginTB) {
//   width: $width;
//   height: $height;
//   margin: $marginTB $marginLR $marginTB $marginLR;
//  }

@mixin bgSlider($startColor, $endColor) {
  
  	// padding: 5px; 
	display: inline-block;
	text-decoration: none; 
	transition: all 0.3s;
	background-size: 200%; 
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.15s;
	background-image: linear-gradient(to left, $endColor 50%, $startColor 50%); 

  &:hover {
    background-position: -100% 200%; 
  }
}

@mixin brSlider() {
  &::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: $PrimaryTextDark;
  transition: width .4s ease-in;
}

  &:hover::after {
    width: 100%;
  }
}

@mixin alternateColor($color1, $color2, $color3){
  animation: color-animation 5s linear infinite;

  @keyframes color-animation {
    0%  {color: $color1}
    32% {color: $color1}
    33% {color: $color2}
    65% {color: $color2}
    66% {color: $color3}
    99% {color: $color3}
    100% {color: $color1}
  }
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

