// @mixin loginSizing($width, $height, $marginLR, $marginTB) {
//   width: $width;
//   height: $height;
//   margin: $marginTB $marginLR $marginTB $marginLR;
//  }

@mixin bgSlider($startColor, $endColor) {
  
  	// padding: 5px; 
	display: inline-block;
	text-decoration: none; 
	transition: all 0.3s;
	background-size: 200%; 
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.15s;
	background-image: linear-gradient(to left, $endColor 50%, $startColor 50%); 

  &:hover {
    background-position: -100% 200%; 
  }
}

@mixin brSlider() {
  &::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: $PrimaryTextDark;
  transition: width .4s ease-in;
}

  &:hover::after {
    width: 100%;
  }
}

@mixin alternateColor($color1, $color2, $color3){
  animation: color-animation 5s linear infinite;

  @keyframes color-animation {
    0%  {color: $color1}
    32% {color: $color1}
    33% {color: $color2}
    65% {color: $color2}
    66% {color: $color3}
    99% {color: $color3}
    100% {color: $color1}
  }
}

@mixin changingTextContent() {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;

  .greeting {
    position: relative;
    top: 3.6vmin;
    animation: white-out 5s infinite;
  }
  .closure::after {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background: #282c34;
    transform: translate(-45vmin, -24.5vmin);
  };

  .closure::before {
    content: '';
    position: absolute;
    // height: 25vmin;
    height: 1rem;
    // width: 40vmin;
    background: #282c34;
    transform: translate(-40vmin, 5vmin);
  }
  @keyframes move {
    25% {
      transform: translatey(-1.2rem);
      opacity: 1;
    }
    50% {
      transform: translatey(-2.4rem);
    }
    75% {
      transform: translatey(-3.6rem);
    }
  }
}